<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776691693274-0v18vkt927r8cvsilj7vvmsmcg2filrs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776691693274-0v18vkt927r8cvsilj7vvmsmcg2filrs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>776691693274-k2v6u90s98ikch0pmtn0epjut74skoa8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAF8Ui3cHZIyNgJqg-qa-kg1S6rUX9meNA</string>
	<key>GCM_SENDER_ID</key>
	<string>776691693274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>linkstage-rw</string>
	<key>STORAGE_BUCKET</key>
	<string>linkstage-rw.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776691693274:ios:24c035d2b80939fef0d7e3</string>
</dict>
</plist>